li
  = link_to attachment.file.identifier, attachment.file.url
  -if current_user.try(:check_owner, attachment.attachable)
    = link_to ' delete file', attachment_path(attachment), method: :delete, remote: true, data: { confirm: "You are sure?"}